body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #5AA9E6;
}

.title {
    padding: 20px;
    font-size: 28px;
    margin-bottom: 20px;
    margin-left: 50px;
}

.main-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px; /* Ajustar el ancho máximo según sea necesario */
    margin-top: 30px;
    margin-left: 150px;
}

.container {
    width: 500px;
}

.text {
    font-size: 14px;
    margin-left: 20px;
    color: #6c757d;
}

.result {
    margin-top: 30px;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.result p {
    margin-bottom: 10px;
    color: #000;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    margin-right: 80px;
}

img {
    width: 400px;
    animation: agrandar 7s both;
}

@keyframes agrandar {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    25% {
        transform: scale(0.5);
    }

    50% {
        transform: scale(0.7);
    }

    75% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.1);
    }
}

.button {
    padding: 10px 20px;
    border: 0px solid #fff;
    border-radius: 4px;
    font-size: 16px;
    background-color: #5a8bff;
    color: #fff;
    cursor: pointer;
    display: block; /* Cambio a bloque para que ocupe todo el ancho */
    margin: 20px auto 0; /* Margen superior de 20px, margen inferior de 0 y margen lateral automático para centrar */
    width: fit-content; /* Ajustar el ancho al contenido */
    text-decoration: none;
    transition: all 1s ease-in-out;
}

.button:hover {
    transform: scale(1.15);
    background: #5a8bff;
    box-shadow: 0 0 10px #004cff;
}

.footer {
    position: fixed;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    padding: 20px 0;
    background-color: #F9F9F9;
    border-top: 1px solid #ced4da;
    bottom: 0;
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #6c757d;
}
