<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidad del Aire - Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='formulario.css') }}">
</head>

<body>
    <div class="navbar">
        <div class="title-container">
            <h1 class="navbar-title">Consulta de Calidad del Aire</h1>
        </div>
    </div>

    <div class="span-container">
        <span>Bienvenido a Nuestro Consultor de Calidad del Aire de BCN.  </span>
    </div>
    <div class="top-container">
        <div class="container">
            <form action="/resultado" method="POST">
                <div class="form-group">
                    <label for="barrio" class="label">Barrio:</label>
                    <select name="barrio" id="barrio" class="select">
                        {% for barrio in barrios %}
                        <option value="{{ barrio }}">{{ barrio }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="dia_mes" class="label">Día del mes:</label>
                    <input type="number" name="dia_mes" id="dia_mes" class="input" min="1" max="31">
                </div>
                <div class="form-group">
                    <button type="submit" class="button">Buscar</button>
                </div>
            </form>
        </div>
    </div>

    <footer class="footer">
        <p class="text">© Joan y Sergi. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
