<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidad del Aire - Formulario</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>

<body>
    <div class="navbar">
        <div class="title-container">
            <h1 class="navbar-title">Consulta de Calidad del Aire</h1>
        </div>
    </div>

    <div class="center-container">
        <div class="container">
            <!-- Botón con bordes y centrado verticalmente -->
            <a href="/formulario" class="button">FORMULARIO</a>
        </div>
    </div>

    <footer class="footer">
        <p class="text">© Joan y Sergi. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
