<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calidad del Aire - Resultado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="main-container">
        <div class="container">
            <h1 class="title">Datos de Calidad del Aire</h1>
            <div class="result">
                <p class="text"><strong>Barrio:</strong> {{ barrio }}</p>
                <p class="text"><strong>Día:</strong> {{ contaminacion_data.DIA }}</p>
                <p class="text"><strong>Tipo de Contaminante:</strong> {{ desc_contaminant }}</p>
                <p class="text"><strong>Unidades:</strong> {{ unitats }}</p>
                <p class="text"><strong>Valor H12:</strong> {{ h12 }}</p>
                <a href="/formulario" class="button">Volver al formulario</a>
            </div>
        </div>
        <div class="image-container">
            <img src="https://66.media.tumblr.com/4a3feab89966f493274edea944dbd5e8/tumblr_o6l5ry9vgQ1s8mouyo1_1280.gif" alt="Warning">
        </div>
    </div>
    <footer class="footer">
        <p class="text">© Joan y Sergi. Todos los derechos reservados.</p>
    </footer>
</body>

</html>
